.mid .upperNav {
  background: rgb(125, 125, 125);
  background: linear-gradient(
    260deg,
    rgba(125, 125, 125, 1) 1%,
    rgba(17, 14, 17, 1) 55%
  );
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  padding: 0.5rem 2rem;
  position: fixed;
  top: 0;
  z-index: 2;
  justify-content: flex-end;
  padding-right: 17rem;
}

.mid {
  overflow-y: scroll;
  width: 100%;
  position: relative;
  padding-top: 3.4rem;
  .midContent {
    color: white;

    h1,
    h2 {
      font-size: 1.8rem;
    }
  }
}

.mid .upperNav a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
