.App {
  height: calc(100vh - 90px);
  background: #131313;
  display: flex;
}

* {
  box-sizing: border-box;
}

.outerWrap {
  background: grey;
  height: 100vh;
  min-height: 100%;
}

.musicControls {
  background-color: rgb(34, 30, 30);
  text-align: center;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 2;
  position: relative;
  border: 1px solid black;
}

@font-face {
  font-family: poppins-bold;
  src: url(./fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: poppins;
  src: url(./fonts/Poppins-Regular.ttf);
}

body {
  font-family: poppins-bold;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.432);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar {
  background: rgba(83, 77, 77, 0.534);
}
